@import url('https://fonts.googleapis.com/css?family=Noto Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #333;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}

a:hover,
a:focus {
    color: #333;
}

hr {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #fff;
    margin: 30px 0;
}

.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f27466;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #f27466;
    text-transform: uppercase;
}
.btn-xs {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    background: #f27466;
    letter-spacing: 1px;
}
.btn:hover {
    background: #f27466;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #ef5443;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #ef5443;
    color: #fff;
}
.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}
nav {
    background-color: #fdf202;
}
.navbar {
    padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    color: #333;
}
.navbar-light .navbar-nav .active > .nav-link:hover, .nav-link:focus {
    color: #333;
    background-color: #fff;
}
.navbar-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

@media (min-width: 1500px) {
    #landing {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/portada.png');
        background-position: top center;
        background-size: contain;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 7em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background-color: #fdf202;
    }
    #articles-preview {
        margin-bottom: 100px;
    }
    #articles-preview h1 {
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 30px 30px 30px 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 120px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 30px; 
    }
    #articles h1 {
        font-size: 4em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
    }
    #articles p {
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 2em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 25%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 25%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 25%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 25%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 27%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 450px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 25%;
    }

    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos .about #logo-image {
        text-align: center;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        max-width: 200px;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    #landing {
        margin-top: 30px;
        height: 400px;
        background-image: url('../img/portada.png');
        background-position: top center;
        background-size: contain;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 7em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background:#fdf202;
    }
    #articles-preview {
        margin-bottom: 80px;
    }
    #articles-preview h1 {
        font-size: 1.8em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 30px 30px 30px 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 100px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 30px; 
    }
    #articles h1 {
        font-size: 3em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
    }
    #articles p {
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 2em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 40%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 30%;
    }
    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        max-width: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #landing {
        margin-top: 30px;
        height: 380px;
        background-image: url('../img/portada.png');
        background-position: top center;
        background-size: 120%;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 7em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background:#fdf202;
    }
    #articles-preview {
        margin-bottom: 70px;
    }
    #articles-preview h1 {
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 30px 30px 30px 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 70px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 30px; 
    }
    #articles h1 {
        font-size: 2.5em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
    }
    #articles p {
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 1.5em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top; center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 35%;
    }

    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        max-width: 200px;
    }
}

@media (min-width: 900px) and (max-width: 991px) {
    #landing .number p {
        font-size: 5.5em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-left: 13%;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background:#fdf202;
    }
}
@media (min-width: 800px) and (max-width: 899px) {
    #landing .number p {
        font-size: 5.5em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-left: 10%;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background:#fdf202;
    }
}
@media (min-width: 768px) and (max-width: 799px) {
    #landing .number p {
        font-size: 5.5em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-left: 5%;
        line-height: 1.5;
        padding: 10px 15px 0px 15px;
        color: #333;
        background:#fdf202;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #landing {
        margin-top: 30px;
        height: 350px;
        background-image: url('../img/portada-2.png');
        background-position: top center;
        background-size: 100%;
        background-attachment: fixed;
    }
    #articles-preview {
        margin-bottom: 80px;
    }
    #articles-preview h1 {
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 30px 30px 0 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 80px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 30px; 
    }
    #articles h1 {
        font-size: 2.3em;
    }
    #articles h2 {
        font-size: 1.5em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
    }
    #articles p {
        font-size: .9em;
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 1.5em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 55%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top; center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 45%;
    }
    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        max-width: 200px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #landing {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/portada-2.png');
        background-position: top center;
        background-size: 120%;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 6.5em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 20px 0px 20px;
        color: #333;
        background:#fdf202;
    }
    #articles-preview {
        margin-bottom: 80px;
    }
    #articles-preview h1 {
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 30px 30px 0 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 80px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 30px; 
    }
    #articles h1 {
        font-size: 2em;
    }
    #articles h2 {
        font-size: 1.2em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
    }
    #articles p {
        font-size: .9em;
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 1.2em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 75%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top; center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 60%;
    }
    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        max-width: 200px;
    }
}

@media (min-width: 375px) and (max-width: 575px) {
    nav .img-fluid {
        max-width: 130px;
    }
    .navbar-light .navbar-nav .active > .nav-link {
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        color: #333;
    }
    #landing {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/portada-2.png');
        background-position: top center;
        background-size: 120%;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 3.1em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 20px 0px 20px;
        color: #333;
        background:#fdf202;
    }
    #articles-preview {
        margin-bottom: 40px;
    }
    #articles-preview h1 {
        font-size: 1.2em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 20px 30px 0 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 40px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 0px; 
    }
    #articles h1 {
        font-size: 1.6em;
    }
    #articles h2 {
        font-size: 1.1em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
        font-size: .8em;
    }
    #articles p {
        font-size: .8em;
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 1.1em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 120%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top; center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 90%;
    }

    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos img {
        text-align: center;
    }
    #articles .about .logos #logo-image {
        margin-bottom: 50px;
    }

}

@media (max-width: 374px) {
    nav .img-fluid {
        max-width: 130px;
    }
    .navbar-light .navbar-nav .active > .nav-link {
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        color: #333;
    }
    #landing {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/portada-2.png');
        background-position: top center;
        background-size: 150%;
        background-attachment: fixed;
    }
    #landing .number p {
        font-size: 3.1em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 20px 0px 20px;
        color: #333;
        background:#fdf202;
    }
    #articles-preview {
        margin-bottom: 40px;
    }
    #articles-preview h1 {
        font-size: 1.2em;
        line-height: 1.4;
        font-weight: bold;
    }
    .article-link {
        padding: 20px 30px 10px 0;
    }
    .article-link a {
        text-decoration: none;
        position: relative;
        background: #f1f1f1;
        color: #333;
    }
    .article-link a:hover {
        background:#fdf202;
        color: #333;
    }
    #articles-preview h6 {
        margin-top: 10px;
    }

    /* articles */

    #articles {
        margin-bottom: 40px;
    }
    #articles a {
        text-decoration: underline;
    }
    #articles ol {
        text-indent: 0;
    } 
    #articles #art-1 {
        margin-top: 0px; 
    }
    #articles h1 {
        font-size: 1.6em;
    }
    #articles h2 {
        font-size: 1.1em;
    }
    #articles h1, h2, h6 {
        margin: 30px 0;
        line-height: 1.4;   
    }
    #articles h6 {
        font-style: italic;
        font-size: .8em;
    }
    #articles p {
        font-size: .8em;
        font-family: 'Noto serif', serif;
        letter-spacing: .2px;
    }
    #articles blockquote {
        margin: 10% 0 10% 15%;
        font-size: 1.1em;
        font-style: italic;
        font-family: 'Noto Sans', serif;
    }
    #articles #cite {
        font-size: .6em;
    }
    #landing-art-1 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-01.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }
    #landing-art-2 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-02.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }
    #landing-art-3 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-03.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }
    #landing-art-4 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-04.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }
    #landing-art-5 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-05.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 130%;
    }
    #landing-art-6 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-06.svg');
        background-position: top; center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }
    #landing-art-7 {
        margin-top: 30px;
        height: 300px;
        background-image: url('../img/art/cover-art-07.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #fdf202;
        background-size: 100%;
    }

    /* about */

    #articles .about {
        margin-top: 80px;
    }
    #articles .about .logos {
        margin: 50px 0;
    }
    #articles .about .logos p {
        text-align: center;
        font-size: .7em;
    }
    #articles .about .logos #logo-image {
        margin-bottom: 30px;
    }
}