@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Noto Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #333;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}

a:hover,
a:focus {
    color: #333;
}

hr {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #fff;
}

.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f27466;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #f27466;
    text-transform: uppercase;
}
.btn-xs {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    background: #f27466;
    letter-spacing: 1px;
}
.btn:hover {
    background: #f27466;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #ef5443;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #ef5443;
    color: #fff;
}
.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}
nav {
    background-color: #ffff00;
}
.navbar-light .navbar-nav .active > .nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    color: #cc0;
}
.navbar-light .navbar-nav .active > .nav-link:hover, .nav-link:focus {
    color: #333;
}
.navbar-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

@media (min-width: 1500px) {
    #landing {
        height: 400px;
        background-image: url('../img/portada.png');
        background-position: center center;
        background-size: cover;
    }
    #landing .number p {
        font-size: 8em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        text-align: center;
        padding-top: 100px;
        color: #fff;
        text-shadow: 0px 0px 10px #333;
    }
    .article-link {
        padding: 50px 30px 50px 0;
    }

}
